* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: linear-gradient(to right top, #f02fc2, #6094ea, #a8eb12);
  width: 100%;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

div {
  margin: 30px 0;
}
.header h1 {
  font-size: 4rem;
  text-align: center;
  font-family: "Satisfy", cursive;
  font-weight: 900;
  color: #fff;
  text-shadow: 10px 10px 20px black;
}

.button button:active{
  transform:translateY(5px);
  box-shadow:none;
}
.button button {
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  background-image: linear-gradient( to right top, #9E68BB, #9555E4, #22C3C1 );
  box-shadow: 5px 8px 12px rgba(55, 54, 54, 0.651);
  color: #ffff;
  font-size: 19px;
  cursor:pointer;
}
i {
  color: white;
  padding: 0 10px;
}
.output {
  width: 400px;
  margin: 0;
  padding: 0;
  position: relative;
}

.transparent {
  border-radius: 12px;
  /* padding: 0; */
  background: black;
  width: 400px;
  height: 150px;
  color: white;
  opacity: 0.3;
  background: black;
  box-shadow: 10px 10px 5px black;
}
.content {
  height: 150px;
  position: absolute;
  top: 0;
  color: white;
  text-align: left;
  padding: 20px;
  left: 2%;
  font-size: 18px;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 1.3;
}
